<footer class="bg-light text-dark py-4 position-fixed bottom-0 w-100">
    <div class="container text-center">
        <p class="mb-0">&copy; 2025 Maximous. All rights reserved.</p>
    </div>
    <div class="icons text-center mt-2">
        <a style="text-decoration: none; cursor: pointer;" href="https://www.facebook.com/Maxi.Atef235"> <i class="fab fa-facebook-f"></i></a>
        <a style="text-decoration: none; cursor: pointer;" href="https://www.linkedin.com/in/maximous-atef-224a37247/"> <i class="fab fa-linkedin-in"></i></a>
        <a style="text-decoration: none; cursor: pointer;" href="https://www.instagram.com/max_atef/"> <i class="fab fa-instagram"></i></a>
        <a style="text-decoration: none; cursor: pointer;" href="https://github.com/Maxiatef"> <i class="fab fa-github"></i></a>
        <a style="text-decoration: none; cursor: pointer;" href="https://discord.com/users/464210016963133440"> <i class="fab fa-discord"></i></a>
    </div>
</footer>