<div class="container about-container mt-5 pt-5">
    <div class="row align-items-center">
        <div class="col-lg-8 col-md-12 order-1 order-lg-1">
            <h2 class="abt mb-4">About Me</h2>
            <p class="about-text">
                A Backend Developer specializing in turning complex concepts into robust digital solutions. I am a
                Computer Science graduate from Alexandria University. My technical expertise spans
                full-stack development using the MERN stack, .Net, PHP, and SQL</p>
            <p class="about-text mt-3">
                I am actively developing my professional skills through both formal training and freelance work:</p>
            <ul class="about-list">
                <li>Full Stack DotNet Trainee : July 2025 - December 2025</li>
            </ul>
            <hr class="section-divider">
            <p class="about-text mt-3">Education: </p>
            <ul class="about-list">
                <li>Faculty of Sciences - Alexandria University</li>
                <li>Department: Software Industry and Multimedia Department</li>
                <li>Grade: 3.5</li>
                <li>Dates: October 2020 - June 2024</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-12 order-2 order-lg-2 text-center mb-4 mb-lg-0">
            <img src="me2.JPG" class="profile-img img-fluid rounded-3 shadow" alt="Maximous">
        </div>
    </div>
</div>