<div class="container mt-5 pt-5 d-flex">
    <div>
        <h2 class="abt text-black">About Me</h2>
        <p class="mt-4 col-9 ">
            I am a Backend Developer specializing in turning complex concepts into robust digital solutions. I am a
            Computer Science and Programming graduate from Alexandria University. My technical expertise spans
            full-stack development using the MERN stack, PHP, and SQL</p>
        <p class="mt-4 col-7">
            I am actively developing my professional skills through both formal training and freelance work:</p>
        <ul>
            <li>Full Stack DotNet Trainee : July 2025 - November 2025</li>
        </ul>
        <hr class="col-7">
        <p class="mt-4 col-7">Education: </p>
        <ul>
            <li>Faculty of Sciences - Alexandria University</li>
            <li>Department: Software Industry and Multimedia Department</li>
            <li>Grade: 3.5</li>
            <li>Dates: October 2020 - June 2024</li>
        </ul>
    </div>
    <img src="me2.JPG" class="img-fluid rounded-2 w-25 shadow" alt="Maximous">

</div>